# INTELLIJ IDEA
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/codeStyles/Project.xml
/.idea/assetWizardSettings.xml
/.idea/git_toolbox_prj.xml
.DS_Store

# Build files
.gradle
/build
/app/release
/app/build
/captures
.externalNativeBuild
.cxx
*.iml
local.properties
